In [9]:
import pandas as pd
import os
import numpy as np

In [7]:
df = pd.read_csv(os.getcwd()+'\..\Pandas\input_file\Online_Retail_sample_10k.csv')

In [8]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# Get the max length of all column

In [11]:
measurer = np.vectorize(len)
measurer(df[['StockCode','Description','Country']].values.astype(str)).max(axis=0)

array([12, 35, 14])

# For specific Column

In [14]:
df['StockCode'].str.len().max()

12