Euclidean distance will find the simularity between variable/list of variable by calculating the positional distance of the variable. Below is the mathematical notation of the formula-

<img src="image/Euclidean Distance.png" style="width:400px;height:150px">

### Import Library and input file

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv(os.getcwd()+'\input_file\Online_Retail_sample_10k.csv')
df.dropna(inplace=True)
df['CustomerID'] = df['CustomerID'].astype(int)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom