In [1]:
import pandas as pd

In [2]:
source = pd.DataFrame({'Country' : ['USA', 'USA', 'Russia','USA'], 
                   'City' : ['New-York', 'XXXX', 'Sankt-Petersburg', 'New-York'],
                  'Short name' : ['NY','XXXX','Spb','NY']})

source

  Country              City Short name
0     USA          New-York         NY
1     USA              XXXX       XXXX
2  Russia  Sankt-Petersburg        Spb
3     USA          New-York         NY

# Most Frequent Item from a column

In [5]:
source.Country.mode()

0    USA
dtype: object

# Group by a column and get the most frequent item

In [4]:
source.groupby('Country')['City'].apply(lambda x: x.value_counts().index[0]).reset_index()

  Country              City
0  Russia  Sankt-Petersburg
1     USA          New-York